{% extends "EyegazeCleaner/nav.html" %}

{% block app_content_content %}
<div style="margin-left:200px;">
    <div class="row">
        <div class="col-2">
            <div class="row">
                <h4> Input </h4>
            </div>
            <div class="row">
                {{ wtf.quick_form(form) }}
            </div>
            <div class="row" style="margin-top: 20px;">
                <a href="{{ url_for('eyegazecleaner.export_compare_two', coder1_id=coder1_id, coder2_id=coder2_id) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Export Comparison Result</a>
            </div>
        </div>
        <div class="col-8" style="margin-left: 20px;">
            <div class="overflow-x:scroll max-width:20%">
                <div class="row">
                    <h4> Comparison Result </h4>
                </div>
                {% if columns|length %}
                <div class="row" style="margin-top:20px;">
                    <div style="overflow-y:scroll; max-height:80vh">
                        <table class="styled-table" id="datainput">
                            <thead>
                                <tr>
                                {% for col in columns %}
                                    <th>{{col}}</th>
                                {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in records %}
                                <tr>
                                {% for col in row %}
                                    <td>{{ row[col]|safe }}</td>
                                {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> 
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
    <div>
            <li><small>If coder 1 and coder 2 has different timestamp unit, coder 2 file will be converted to use coder 1's timestsamp unit</small></li>
    </div>
    <meta id="my-data" data-threshold="{{diff_threshhold}}" data-inds="{{diff_col_indices}}">
</div>


<script>
    $(document).ready( function () {
        var data = $('#my-data').data();
        const threshold = parseInt(data.threshold);
        const inds = data.inds;

        $.noConflict();
        $('#datainput').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'excelHtml5',
                'csvHtml5',
                {
                    extend: 'colvis',
                    columns: ':not(.noVis)'
                }
            ],
            'rowCallback': function(row, data, index){
                            for (const [key, ind] of Object.entries(inds)) {
                                var cellind = `td:eq(${ind})`;
                                if( data[ind] > threshold){
                                        $(row).find(cellind).css('color', 'red');
                                        $(row).find('td:eq(0)').css('color', 'red');
                                     };

                            };
                        }
        } );
    } );
</script>
{% endblock %}