{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="wrapper">

    {% block app_content_sidebar %}

    {% set navigation_bar = [
        (url_for('eyegazecleaner.input'), 'input', '1. Input'),
        (url_for('eyegazecleaner.view_data'), 'view_data', '1.1. View Input File'),
        (url_for('eyegazecleaner.quality_check'), 'quality_check', '1.2. Quality Check'),
        (url_for('eyegazecleaner.reset_session'), 'reset_session', '3. Reset Session'),
    ] -%}

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Eyegaze Cleaner
                </a>
            </li>
            {% for href, id, caption in navigation_bar %}
                {% if url_for(request.endpoint) == href%}
                 <li class="active" style="font-weight: bold;"><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% else %}
                 <li><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endblock %}

    <div id="page-content-wrapper">
        <div class="container-fluid">
                {% block app_content_content%}{% endblock %}
        </div>
    </div>

</div>

{% endblock %}